body{
    background: url(images/liquid-cheese.svg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title{
    font-size: 60px;
}
.icons-class img{
    width: 100px;
    height: 100px;
    padding-top: 1em;
}

.contacts img{
    width: 100px;
    height: 100px;
}
